@media (prefers-reduced-motion: no-preference) {
  .loading-symbol {
    animation: loading-symbol-spin infinite 3s linear;
  }
}

@keyframes loading-symbol-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Authentication Pop Up */

.auth-loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loading-symbol {
  color: #0080FF;
}

.auth-loading-overlay div {
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  font-size: 28px;
}

.modal {
  --bs-modal-footer-border-color: #212529;
}

.nav-tabs {
  --bs-nav-tabs-border-width: 0px;
}


.nav-tabs .nav-item button.nav-link {
  /* background-color: #FFF; */
  color: #0080FF;
  border-color: black;
  --bs-nav-tabs-border-width: 0px;
  --bs-nav-tabs-border-color: #000;
  --bs-modal-footer-border-color: #212529;
}

.nav-tabs .nav-item button.nav-link.active {
  background-color: #0080FF;
  border-color: black;
  color: #FFF;
}

